<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="io.hpd.cordova.gimbal"
        version="1.0.0">

    <name>Gimbal</name>
    <description>Cordova Gimbal Plugin</description>
    <author>Denny Tsai</author>
    <license>Apache 2.0</license>
    <keywords>cordova,gimbal,ibeacon</keywords>
    <repo>https://github.com/happydenn/cordova-plugin-gimbal.git</repo>
    <issue>https://github.com/happydenn/cordova-plugin-gimbal/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/Gimbal.js" name="Gimbal">
        <clobbers target="Gimbal"/>
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Gimbal">
                <param name="ios-package" value="Gimbal"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="dict">
            <key>NSLocationAlwaysUsageDescription</key>
            <string>Specifies the reason for accessing the user's location information.</string>
        </config-file>

        <header-file src="src/ios/Gimbal.h"/>
        <source-file src="src/ios/Gimbal.m"/>

        <framework src="CoreData.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="CoreBluetooth.framework"/>

        <framework src="libz.dylib"/>
        <framework src="Security.framework"/>
        <framework src="MapKit.framework"/>

        <framework src="lib/ios/FYX.framework" custom="true"/>
        <framework src="lib/ios/NetworkServices.embeddedframework/NetworkServices.framework" custom="true"/>
        <framework src="lib/ios/Common.embeddedframework/Common.framework" custom="true"/>
        <framework src="lib/ios/ContextLocation.embeddedframework/ContextLocation.framework" custom="true"/>
        <framework src="lib/ios/ContextCore.embeddedframework/ContextCore.framework" custom="true"/>

    </platform>

</plugin>
